.slide{
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 30px;
    height: 304px;
    width: 542px;
    padding-top: 60px;
}

.title{
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    padding-top: 80px;

}

.info{
    margin-left: 30px;
    font-size: 12px;
    font-weight: lighter;

}

.active {
    background-color: rgba(255, 255, 255, 0.404);
    position: absolute;
    border-radius: 5px;
    top: 485px;
    right: 250px;
    color: black;
    cursor: pointer;
    border: 2px solid rgb(49, 49, 49);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
  }

  .active:hover{
    background-color: rgb(196, 196, 196);
  }