<ng-container *ngIf="reviews">
    <div>
        <img class="slide" src="{{film.urlimg}}">
    </div>
    <div>
        <p class="title">{{film.name}}</p>
    </div>
    <div>
        <p class="summary">{{film.summary}}</p>
    </div>
    <a class="active" (click)="NewTab()">Watch Trailer</a>
    <div>
        <p class="info">{{film.duration}} min • {{film.genre}} •
            {{film.director}} • {{film.year}} • {{film.rating}}/10</p>
    </div>
    <br />
    <br />
    <div class="usersection">
        <hr class= "separator">  
        <br/>
        <h3 class="title3">Users reviews section</h3>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <input type="text" class="review" formControlName="review"
                placeholder="What do you think about {{film.name}}">
            <br />
            <input type="number" class="rating" formControlName="rating" placeholder="your rating">
            <br />
            <button class="postreview">
                <span>Post your review</span>
            </button>
        </form>
        <br />
        <div *ngFor='let review of reviews' class="reviews">
            <p class= "userreviewname"> {{review.user}}'s review</p>
            <p class="reviewrating"> {{review.rating}}/10</p>
            <p class="reviewtext"> {{review.comment}} </p>
        </div>
    </div>
</ng-container>