
<ng-container *ngIf="reviews">
<div>
    <img class="slide" src="{{film.urlimg}}">
</div>
<div>
    <p class="title" >{{film.name}}</p>
</div>
<div>
    <p class="summary" >{{film.summary}}</p>
</div>
<a class="active" (click)="NewTab()">Watch Trailer</a>
<div>
    <p class="info" >{{film.duration}} min • {{film.genre}} • 
        {{film.director}} • {{film.year}} • {{film.rating}}/10</p>
</div>
<div *ngFor='let review of reviews' class="reviews">
    <p> Hola soy {{review.user}}</p>
    <p> {{review.comment}} </p>
</div>
</ng-container>

