.content{
  width: 95%;
  left: 3%;
  position: absolute;
  padding-top: 200px;
  justify-content: center;
}

.mat-card-image:first-child{
  border-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 152px;
  width: 271px;
  transition-duration: 0.5s;
}

.mat-card-image:first-child:hover{
  transform: scale(1.02);
  border-radius: 7px;
  opacity: 0.8;
}

.button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
  height: 135px;
}
::placeholder {
  color:rgb(160, 160, 160);
}
.searchBar{
  width: 100vw;
  top: 75px;
  font-size: 27px;
  height: 75px;
  letter-spacing: 1.17px;
  padding-left: calc(24px + 3.5vw);
  position: fixed;
  left: 0px;
  z-index: 6;
  background-color: rgba(158, 157, 155, 0.685);
  outline: none;
  border: medium none;
  font-family: "Arial Black", Gadget, sans-serif;
}
