<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<section>
    <h3 class = "notes">All Series</h3>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor='let series of seriesArray' class="slide">
            <button class="button" (click)="goTo(series)">
                <img class="slick-slide" src="{{series.urlimg}}">
            </button>
        </div>
    </ngx-slick-carousel>
    <h3 class = "notes">Action Series</h3>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor='let series of seriesActionArray' class="slide">
            <button class="button" (click)="goTo(series)">
                <img class="slick-slide" src="{{series.urlimg}}">
            </button>
        </div>
    </ngx-slick-carousel>
    <router-outlet></router-outlet>
