
.navbar {
    width: 100vw;
    height: 55px;
    padding: 10px 36px;
    background-color: rgba(0, 0, 0, 0.932);
    position: fixed;
    z-index: 6;
    left: 0px;
    top: 0px;
  }
  .logo{
    width: 100px;
    float: left;
    margin-top: -22px;
  }
  .username{
    width: 10vw;
  right: 100px;
  position: absolute;
  }
  
  .navbar a {
    float: left;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 100px;
    transition-duration: 0.5s;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    font-size: 23px;
  }
  
  /* Current/active navbar link */
  .active:hover {
    background-color: #b6b6b67a;
  }
